@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.wrapper {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(69, 69, 128);
    padding: 10px 20px;
    background-color: rgb(167, 205, 221);
}

input {
    margin: 10px 20px;
    padding: 10px;
}

label, p {
    font-size: 20px;
    font-weight: bold;
}

th {
    font-weight: lighter;
    }

textarea {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

hr {
    height: 3px;
    background-color: rgb(64, 93, 105);
}

.radio-input {
    display: block;
    margin: 0 auto;
}

.submit {
    background-color: rgb(69, 69, 128);
    color: #fff;
    border: none;
    padding: 10px 40px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    font-size: 20px;
    width: 100%;
}

.submit:hover {
    background-color: rgb(27, 36, 39);
    cursor: pointer;
}

@media (max-width: 800px){
    .wrapper {
      display: block;
    }
  }